<form (ngSubmit)="submitForm(loginForm)" [formGroup]="loginForm" class="w-50 mx-auto">
   
    <label class="mt-2">Email</label>
    <input formControlName="email" class="form-control" type="text">
    <div  *ngIf="loginForm.get('email')?.errors != null  && loginForm.get('email')?.touched" class="alert alert-danger mt-2">
        <p  *ngIf="loginForm.get('email')?.errors?.['required']" class="m-0">Email is required</p>
        <p  *ngIf="loginForm.get('email')?.errors?.['pattern']" class="m-0">Enter Email Form</p>
    </div>
    
    <label class="mt-2">Password</label>
    <input formControlName="password" class="form-control" type="password">
    <div  *ngIf="loginForm.get('password')?.errors != null  && loginForm.get('password')?.touched" class="alert alert-danger mt-2">
        <p  *ngIf="loginForm.get('password')?.errors?.['required']" class="m-0">Password is required</p>
    </div>
    
    <button class="btn btn-success mt-3" [disabled]="loginForm.invalid">Log in</button>
    <div  *ngIf="errors" class="alert alert-danger mt-2">
        <p class="m-0 p-0">{{errors}}</p>
    </div>
    </form>